body {
  font-family: 'Roboto';
  margin: 0px;
  color: #2D2F33;
  margin-bottom: 40px;

}

.el-container .el-header:first-child {
  background: #545c64;
  color:#fff;
  margin-bottom: 40px;
}

.sidenav {
    width: 0;
    position: fixed;
    z-index: 1;
  top:0;
    height: 100%;  
    left: 0;
    background-color: #545c64;
    overflow-x: hidden;
    transition: 0.5s;
}   
el-header{
  width: 100%;
  position: fixed;
  left: 0;
  right:0;
}


.el-menu  {
  background: #545c64;
  color:#fff;
  margin-bottom: 40px;
}

.busquedaInput {
  max-width: 250px;
  float:right;
  padding: 5px;
}




.tituloLista{
  max-width: 200px;
  float:left;
}

.formStyle{
  width: 300px;
}
.formStylebox{
  border-style: groove;
  border-width: 2px;
  border-color: #c7c7c9;
  max-width: 650px;
  padding:3%; 
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .formStyle{
    width: 200px;
  }
  .formStylebox{
    border-style: none;
    border-width: 1px;
    border-color: #c7c7c9;
    padding:2%; 
    max-width: 700px;
  }
}
.rotateIcon {
  transform: rotate(180deg); 
}
.botonNav{
  display: inline-block;
  padding: 0 20px 0 20px;
}
.floatRight{
    float:right;
}
.botonNav a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  cursor: pointer;
}