body {
  font-family: 'Roboto';
  margin: 0px;
  color: #2D2F33;
}

.el-container .el-header:first-child {
  background: #2d2f33;
  color:#fff;

}

.busquedaInput {
  max-width: 250px;
  float:right;
  padding: 5px;
}

.tituloLista{
  max-width: 200px;
  float:left;
}

.formStyle{
  width: 300px;
}
.formStylebox{
  border-style: groove;
  border-width: 2px;
  border-color: #c7c7c9;
  max-width: 650px;
  padding:3%; 
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .formStyle{
    width: 200px;
  }
  .formStylebox{
    border-style: none;
    border-width: 1px;
    border-color: #c7c7c9;
    padding:2%; 
    max-width: 700px;
  }
}
.rotateIcon {
  transform: rotate(180deg); 
}
.botonNav{
  display: inline-block;
  padding: 0 20px 0 20px;
}
.floatRight{
    float:right;
}
.botonNav a{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  cursor: pointer;
}